.jumbotron {


   background: url('https://www.idbinvest.org/sites/default/files/2018-03/Ecuador_0.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;

    height: 100%;
    width: : 100%;
    margin-top: 50px;
}
.display-2{

	font-weight: 700;
	color: white;
}
.btn{
	background-color:blue;
	color: white;
	font-weight: 600;

}
footer{
	padding: 10px 10px 0 10px;
	background-color: #FFD333;
	margin-button:0px;
	color: blue;
}

footer-adress-icon{
padding-right: 10px

}